.game-area{
    position: relative;
    margin: 50px auto;
    width: 15px;
    height: 15px;
    border: 3px solid rgba(68, 32, 167, 0.993);
}

.snake-dot {
    position: absolute;
    width: 3%;
    height: 3%;
    background-color: pink;
    border: 0px solid #fff;
    z-index: 2;
}

.snake-food{
    position: absolute;
    width: 4%;
    height: 4%;
    background: #ADD8E6;
    border: 1px solid #fff;
    z-index: 1;
}

.joystick-area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.button{
    margin: 8px;
}